@CHARSET "UTF-8";
* {
	margin: 0;
	outline: 0;
	padding: 0;
}
.hidden {
	display:none;
}
body {
	color: #FFF;
	font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Tahoma,Arial,sans-serif;
	font-size: 11px;
}
a {
	color: #222;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.link {
	color: #222222;
	text-decoration: none;
	cursor:pointer;
}
.link:hover {
	text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color:#696969;
	line-height:1;
	margin-bottom:5px;
}

#container{
	width:300px;
	border:1px #58585A solid;
}

#header{
	height:25px;
	border:1px #58585A solid;
	background:#58585A;
}
#cloud{
	height:50px;
	border:1px #58585A solid;
	background:#D1D2D4;
}
#sorting{
	height:10px;
	color:#3A3A3C;
}
#content{
	height:270px;
	border:1px #58585A solid;
	border-top:2px #58585A solid;
	border-bottom:2px #58585A solid;
}
#bottom_ad{
	height:63px;
	border:1px #58585A solid;
}
#footer{
	height:20px;
	border:1px #58585A solid;
	background:#58585A;
}

.day{
	float:right;
}
.clear {
	clear: both;
}


/* Tag Cloud CSS */
.x-cloud  {
    border:1px solid #CCC;
	text-align:center;
	color:#0F75BC;
	font-family:Arial,sans-serif;
	height:50px;
}
.x-cloud-item  {
    margin:0 0.2em;
	display:inline;
}
.x-cloud-item a  {
	margin:5px;
	color:#0F75BC;
	
}
.x-cloud-item a:hover  {
	
}
.x-cloud-item-selected a  {
    background-color: #316ac5;
    color:#FFF;
    text-decoration:none;
}
.x-cloud-item-selected a:hover  {
    cursor:default;
    color:#FFF;
}
.x-cloud-item.small { font-size: 0.90em; }
.x-cloud-item.medium { font-size: 1.1em; }
.x-cloud-item.large { font-size: 1.35em; }
.x-cloud-item.largest { font-size: 1.5em; }

/*end tag cloud css */











