@CHARSET "UTF-8";
* {
	margin: 0;
	outline: 0;
	padding: 0;
}
.hidden {
	display:none;
}

body {
/*	color: #FFF;*/
	font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Tahoma,Arial,sans-serif;
	font-size: 11px;
}
a {
	color: #222;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.link {
	color: #222222;
	text-decoration: none;
	cursor:pointer;
}
.link:hover {
	text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color:#696969;
	line-height:1;
	margin-bottom:5px;
}

#container{
	width:300px;
	border:1px #58585A solid;
}

#header{
	height:25px;
	border:1px #58585A solid;
	background:#58585A;
	font-size:17px;
	color:#fff;
	width:299px;
}
#sorting{
	height:15px;
	color:#3A3A3C;
	float:right;
	margin-right:5px;
}
#content{
	/*height:270px;*/
	border:1px #58585A solid;
	border-top:2px #58585A solid;
	border-bottom:2px #58585A solid;
}
#bottom_ad{
	height:72px;
	border:1px #58585A solid;
}

#bottom_ad_img{
    background: url(../images/ad.png) no-repeat;
	margin-left: 30px;
	display: block;
	height: 58px;
	text-align: center;
}

#footer{
	height:20px;
	border:1px #58585A solid;
	background:#58585A;
	color:#fff;
}

.day{
	display:inline;
}
.clear {
	clear: both;
}

.share_title {
	background #888888;
}			
.pagingBar{
	margin-left:60px;
}

.pagingBar .pagingDot {
    float: left;
	width: 20px;
    height: 20px;
    background: url(../images/arrowUnselected.png) no-repeat;

}

.pagingBar .pagingDot_selected {
    float: left;
	width: 20px;
    height: 20px;
    background: url(../images/arrowSelected.png) no-repeat;
}


.pagingBar .x-tbar-page-next {
	background-image:url(../images/rightArrow.png) !important;
}
.pagingBar .x-item-disabled .x-tbar-page-next {
	background-image:url(../images/rightArrow.png) !important;
}

.pagingBar .x-tbar-page-prev {
	background-image:url(../images/leftArrow.png) !important;
}
.pagingBar .x-item-disabled .x-tbar-page-prev {
	background-image:url(../images/leftArrow.png) !important;
}

.pagingBar .x-toolbar {
	background-color:#fff;
	border-color:#fff;
	background-image:none;
}

.pagingBar .xtb-text {
	margin-top:5px;
}

.pagingBar .xtb-sep {
	background-image:none;
	margin-right:50px;
}

.pagingBar .x-btn-mc {
}

.pagingBar .x-toolbar-right{
	display:none;
}


.pagingBar .x-toolbar-ct{
	width:auto;
}

.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
    border: none;
}



/* Tag Cloud CSS */



.cloud_div  {
	color:#0F75BC;
	font-family:Arial,sans-serif;
	min-height:20px;
	max-height:50px;
	border:1px #ccc solid;
	white-space:nowrap;
	overflow:hidden;
	border:1px #58585A solid;
	background:#D1D2D4;
}
.x-cloud-item  {
	display:inline;
	
	text-align:center;
}
.x-cloud-item a  {
	margin:5px;
	color:#0F75BC;
	text-decoration:none;
	
}
.x-cloud-item a:hover  {
	text-decoration:underline;
}
.x-cloud-item.small { font-size: 0.90em; }
.x-cloud-item.medium { font-size: 1.2em; }
.x-cloud-item.large { font-size: 1.35em; }
.x-cloud-item.largest { font-size: 1.5em; }

.clear{
	clear:both;
}

#cloud{
	border:1px #58585A solid;
	background:#D1D2D4;
	color:#0F75BC;
	font-family:Arial,sans-serif;
	min-height:45px;
	max-height:50px;
	overflow:hidden;
	border:1px #58585A solid;
}

#cloud ul{
	text-align:center;
	margin:6px 10px;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
/*end tag cloud css */
.listElement{
	border-bottom:1px #ccc solid;
	margin:5px;
	height:55px;
}

.resultTitle{
	font-size:12px;
	color:#3a3a3c;
	font-weight:bold;
	margin-bottom:5px;
}
.resultViews{
	font-size:10px;
	display:inline;
	color:#a0a2a4;
	min-height:150px;
}
.resultShares{
	font-size:10px;
	display:inline;
	color:#a0a2a4;
}
.resultServices{
	display:inline;
	font-size:10px;
	color:#a0a2a4;
	white-space:nowrap;
}

.ad_text{
	display:block;
	text-align:center;
	color:#3a3a3c;
	clear: right;
}

.separator{
	margin-right:8px;
	margin-left:8px;
	border:1px #ccc solid;
	display:inline;
}

.day a{
	/*color:#3a3a3c;*/
}

.selected a{
	font-weight:bold;
	/*color:#A0A2A4;*/
}

.icons{
	display:inline;
	margin-right:2px;
}

/*fav icons*/
.sharethis,
.aim,
.aol,
.blinklist,
.blogger,
.blogmarks,
.care2,
.current,
.dealsplus,
.delicious,
.digg,
.diigo,
.email,
.facebook,
.faves,
.fresqui,
.friendfeed,
.friendster,
.funp,
.furl,
.fark,
.bus_exchange,
.gmail,
.google_bmarks,
.hi5,
.hugg,
.kirtsy,
.linkedin,
.livejournal,
.magnolia,
.meneame,
.mister_wong,
.mixx,
.msn,
.myspace,
.n4g,
.netscape,
.newsvine,
.oknotizie,
.orkut,
.propeller,
.reddit,
.simpy,
.slashdot,
.sms,
.sphinn,
.stumbleupon,
.tailrank,
.technorati,
.twitter,
.typepad,
.windows_live,
.wordpress,
.xanga,
.yahoo,
.yahoo_bmarks,
.ybuzz,
.yahoo_myweb,
.yigg {
	background-image:url(http://w.sharethis.com/share3x/images/sprite2_033109.gif);
	background-repeat:no-repeat;
	display:inline;
	padding:2px 4px 2px 12px;
	white-space:nowrap;
	margin-left:2px;
}
.sharethis {
	background:url(http://w.sharethis.com/share3x/images/share-icon.gif) no-repeat left center;
}
.aim {
	background-position:0 -420px;
}
.aol {
	background-position:0 -439px;
}
.blinklist {
	background-position:0 0;
}
.blogger {
	background-position:0 -680px;
}
.blogmarks {
	background-position:0 -60px;
}
.care2 {
	background-position:0 -880px;
}
.current {
	background-position:0 -640px;
}
.dealsplus {
	background-position:0 -1160px;
}
.delicious {
	background-position:0 -40px;
}
.digg {
	background-position:0 -20px;
}
.diigo {
	background-position:0 -780px;
}
.email {
	background-position:0 -460px;
}
.facebook {
	background-position:0 -180px;
}
.faves {
	background-position:0 -840px;
}
.fresqui {
	background-position:0 -980px;
}
.friendfeed {
	background-position:0 -1140px;
}
.friendster {
	background-position:0 -1120px;
}
.funp {
	background-position:0 -1000px;
}
.furl {
	background-position:0 -160px;
}
.gmail {
	background-position:0 -480px;
}
.google_bmarks {
	background-position:0 -220px;
}
.hi5 {
	background-position:0 -1100px;	
}
.hugg {
	background-position:0 -1020px;
}
.kirtsy {
	background-position:0 -920px;
}
.linkedin {
	background-position:0 -1240px;
}
.livejournal {
	background-position:0 -1060px;
}
.magnolia {
	background-position:0 -240px;
}
.meneame {
	background-position:0 -820px;
}
.mister_wong {
	background-position:0 -740px;
}
.mixx {
	background-position:0 -580px;
}
.msn {
	background-position:0 -499px;
}
.myspace {
	background-position:0 -520px;
}
.n4g {
	background-position:0 -900px;
}
.netscape {
	background-position:0 -280px;
}
.newsvine {
	background-position:0 -360px;
}
.oknotizie {
	background-position:0 -960px;
}
.orkut {
	background-position:0 -1080px;
}
.propeller {
	background-position:0 -600px;
}
.reddit {
	background-position:0 -320px;
}
.simpy {
	background-position:0 -860px;
}
.slashdot {
	background-position:0 -800px;
}
.sms {
	background-position:0 -540px;
}
.sphinn {
	background-position:0 -1180px;
}
.stumbleupon {
	background-position:0 -140px;
}
.tailrank {
	background-position:0 -100px;
}
.technorati {
	background-position:0 -120px;
}
.twitter {
	background-position:0 -620px;
}
.typepad {
	background-position:0 -700px;
}
.windows_live {
	background-position:0 -300px;
}
.wordpress {
	background-position:0 -660px;
}
.xanga {
	background-position:0 -1200px;
}
.yahoo {
	background-position:0 -559px;
}
.yahoo_bmarks {
	background-position:0 -720px;
}
.ybuzz {
	background-position:0 -1220px;
}
.yahoo_myweb {
	background-position:0 -80px;
}
.yigg {
	background-position:0 -760px;
}
.fark {
	background-position:0 -1280px;
}
.bus_exchange{
	background-position:0 -1300px;
}

/*end fav icons*/






