@CHARSET "UTF-8";
* {
	margin: 0;
	outline: 0;
	padding: 0;
}
.hidden {
	display:none;
}

body {
/*	color: #FFF;*/
	font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,Tahoma,Arial,sans-serif;
	font-size: 11px;
}
a {
	color: #222;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.link {
	color: #222222;
	text-decoration: none;
	cursor:pointer;
}
.link:hover {
	text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color:#696969;
	line-height:1;
	margin-bottom:5px;
}

#container{
	width:300px;
	border:1px #58585A solid;
}

#header{
	height:25px;
	border:1px #58585A solid;
	background:#58585A;
}
#sorting{
	height:15px;
	color:#3A3A3C;
	float:right;
}
#content{
	height:270px;
	border:1px #58585A solid;
	border-top:2px #58585A solid;
	border-bottom:2px #58585A solid;
}
#bottom_ad{
	height:63px;
	border:1px #58585A solid;
}
#footer{
	height:20px;
	border:1px #58585A solid;
	background:#58585A;
}

.day{
	display:inline;
}
.clear {
	clear: both;
}

.share_title {
			 background #888888;
	}			



.pagingBar{
	margin-left:60px;
}

.pagingBar .pagingDot {
    float: left;
	width: 20px;
    height: 20px;
    background: url(../images/arrowUnselected.png) no-repeat;

}

.pagingBar .pagingDot_selected {
    float: left;
	width: 20px;
    height: 20px;
    background: url(../images/arrowSelected.png) no-repeat;
}


.pagingBar .x-tbar-page-next {
	background-image:url(../images/rightArrow.png) !important;
}
.pagingBar .x-item-disabled .x-tbar-page-next {
	background-image:url(../images/rightArrow.png) !important;
}

.pagingBar .x-tbar-page-prev {
	background-image:url(../images/leftArrow.png) !important;
}
.pagingBar .x-item-disabled .x-tbar-page-prev {
	background-image:url(../images/leftArrow.png) !important;
}

.pagingBar .x-toolbar {
	background-color:#fff;
	border-color:#fff;
	background-image:none;
}

.pagingBar .xtb-text {
	margin-top:5px;
}

.pagingBar .xtb-sep {
	background-image:none;
	margin-right:70px;
}

.pagingBar .x-btn-mc {
}

.pagingBar .x-toolbar-right{
	display:none;
}


.pagingBar .x-toolbar-ct{
	width:auto;
}

.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
    border: none;
}



/* Tag Cloud CSS */



.cloud_div  {
	color:#0F75BC;
	font-family:Arial,sans-serif;
	min-height:20px;
	max-height:50px;
	border:1px #ccc solid;
	white-space:nowrap;
	overflow:hidden;
	border:1px #58585A solid;
	background:#D1D2D4;
}
.x-cloud-item  {
	display:inline;
	
	text-align:center;
}
.x-cloud-item a  {
	margin:5px;
	color:#0F75BC;
	text-decoration:none;
	
}
.x-cloud-item a:hover  {
	text-decoration:underline;
}
.x-cloud-item.small { font-size: 0.90em; }
.x-cloud-item.medium { font-size: 1.2em; }
.x-cloud-item.large { font-size: 1.35em; }
.x-cloud-item.largest { font-size: 1.5em; }

.clear{
	clear:both;
}

#cloud{
	border:1px #58585A solid;
	background:#D1D2D4;
	color:#0F75BC;
	font-family:Arial,sans-serif;
	min-height:45px;
	max-height:50px;
	overflow:hidden;
	border:1px #58585A solid;
}

#cloud ul{
	text-align:center;
	margin:6px 10px;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
/*end tag cloud css */







